@import '../../styles/variables';

.home{
    width: 100%;
    height: auto;
    margin-left: 3.6rem;
    overflow-x: hidden;
    @include flex(column,flex-start,flex-start);
    @include breakpoint($bp-tablet){
        margin-left: 0;
        margin-top: 3.2rem;
    }
    
    &__search{
        width: 100%;
        margin-bottom: 4rem;
        @include flex(row,flex-start,center);
        &--input{
            padding: 1.8rem 0;
            width: 100%;
            margin-left:2.4rem ;
            background: transparent;
            border: none;
            color:$color-white;
            font-size: $font-heading-M-S;
            font-weight: $font-weight-heading-L-M;
            border-bottom: 2px solid transparent;

            &:focus{
                outline: none;
                border-bottom-color: $color-grayish-blue;
            }
        }

    }

    &__trending-header{
        font-size: $font-heading-L;
        font-weight: $font-weight-heading-L-M;
        margin-bottom: 2.8rem;
    }

    &__recommendation{
        margin-top: 4rem;
        width: 100%;
        @include flex(column,center,flex-start);
        &--header{
            font-size: $font-heading-L;
            font-weight: $font-weight-heading-L-M;
            margin-bottom: 4rem;
        }
        &--content{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4,1fr);

            @include breakpoint($bp-tablet){
                grid-template-columns: repeat(3,1fr);
            }
            
            @include breakpoint($bp-mobile){
                grid-template-columns: repeat(2,1fr);
            }

            gap: 4rem;
        }
    }
}